nav {
  align-items: center;
  padding-top: 16px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  column-gap: 32px;
}

li a {
  display: block;
  color: black;
  text-decoration: none;
  font-size: 21px;
  padding-top: 8px;
}

li a:hover { cursor: zoom-in; }

#article-container { width: 62%; }

#aside-container {
  width: 35%;
  background-color: beige;
}

.category-container { row-gap: 16px; }

#icon-container, nav { justify-content: space-evenly; }

#top-blogs-bg {
  background: linear-gradient(180deg, rgba(245, 245, 245, 0) 50%, rgba(34, 34, 34, 0.514) 50%),
                url(../images/blogs/blog_1.png);
}

#top-blogs-bg-2 {
  background: linear-gradient(180deg, rgba(245, 245, 245, 0) 50%, rgba(34, 34, 34, 0.514) 50%),
                url(../images/blogs/blog_2.png);
}

#top-blogs-bg-3 {
  background: linear-gradient(180deg, rgba(245, 245, 245, 0) 50%, rgba(34, 34, 34, 0.514) 50%),
                url(../images/blogs/blog_3.png);
}

#top-blogs-bg, #top-blogs-bg-2, #top-blogs-bg-3 {
  width: 33.33%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.top-blogs-text-container {
  padding: 36px; 
  color: white;
}

.top-blogs-title-text {
  font-size: 24px; 
  padding-top: 50%;
}

.featured-article {
  padding-bottom: 48px;
  padding-top: 48px;
}

.featured-article-img-container {
  width: 100%;
  height: 300px;
}

.featured-article-img {
  width: 100%;
  height: 100%;
}

.featured-article-title-text {
  font-size: 28px;
  padding-top: 24px; 
}

.more-info-social-icons-container {
  align-items: center;
  width: 35%;
}

#article-divider {
  width: 90%;
  margin: auto;
}

.more-info-button {
  background-color: sandybrown;
  border: none;
}

#aside-button {
  background-color: sandybrown;
  border: none;
  width: 100%;
}

.aside-category-button {
  font-size: 24px;
}

footer {
  background: linear-gradient(90deg, #ffeab1, #ffdb77);
  padding-bottom: 24px;
}

.search-input {
  border: none;
  color: #000000;
  background-color: aqua;
  height: 36px;
  font-size: 18px;
  outline: none;
}

#top-blogs-section {
  height: 400px;
}

.aside-text {
  font-size: 18px;
  text-decoration: none;
  color: black;
}

.blogs-text {
  font-size: 18px;
  padding-top: 24px;
}

aside, #top-blogs-section {
  padding-bottom: 32px;
  padding-top: 32px;
}

.aside-header-text, #content-container-header {
  font-size: 32px;
  letter-spacing: 2px;
}

.featured-article-more-info-container, #content-container-header {
  padding-top: 32px;
}

#categories, #contact, #follow, #news-letter, aside { row-gap: 36px; }

.featured-article, #content-container, section, header, footer, aside {
  padding-left: 32px;
  padding-right: 32px;
}

.more-info-button, #aside-button, .search-input, .featured-article-img { border-radius: 16px; }

.more-info-share-button, .more-info-button, #aside-button { font-size: 16px; }

.aside-category-button, .more-info-share-button {
  border: none;
  background: none;
}

header, footer, .search-input { text-align: center; }

#content-container, .featured-article-more-info-container, .more-info-social-icons-container { justify-content: space-between; }

li a:hover, #content-container-header, .more-info-share-button, .aside-header-text, .aside-category-button { text-decoration: underline; }

#aside-button, .more-info-share-button, .more-info-share-button, .more-info-button { padding: 8px 24px 8px 24px; }

nav, ul, #top-blogs-section, #content-container, #icon-container, .featured-article-more-info-container, .more-info-social-icons-container {
  display: flex;
  flex-direction: row;
}

#categories, #contact, #follow, #news-letter, #aside-container, aside, .category-container, #article-container, .featured-article, .top-blogs-text-container {
  display: flex;
  flex-direction: column;
}