header, footer {
    padding-left: 32px;
    padding-right: 32px;
    text-align: center;
}

footer {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    height: 100px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 16px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    column-gap: 32px;
}

li a {
    display: block;
    color: black;
    text-decoration: none;
    font-size: 21px;
    padding-top: 8px;
}

li a:hover{
    color: black;
    cursor: zoom-in;
    text-decoration: underline;
}

input[type="text"] {
    border: none;
    color: #000000;
    border-radius: 16px;
    background-color: aqua;
    width: 80%;
    text-align: center;
    height: 36px;
    font-size: 18px;
    outline: none;
}

#linear-image {
    background: linear-gradient(180deg, rgba(245, 245, 245, 0) 50%, rgba(34, 34, 34, 0.514) 50%),
                url(../images/blogs/blog_1.png);
}

#linear-image-2 {
    background: linear-gradient(180deg, rgba(245, 245, 245, 0) 50%, rgba(34, 34, 34, 0.514) 50%),
                url(../images/blogs/blog_2.png);
}

#linear-image-3 {
    background: linear-gradient(180deg, rgba(245, 245, 245, 0) 50%, rgba(34, 34, 34, 0.514) 50%),
                url(../images/blogs/blog_3.png);
}

#linear-image, #linear-image-2, #linear-image-3 {
    width: 33.33%;
    height: 100%;
    background-size: cover;
    background-position: center;
}


section {
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 32px;
    padding-top: 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 400px;
    justify-content: space-evenly;
}

article {
    width: 100%;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 48px;
    padding-top: 48px;
}

#content-container {
    width: 100%;
    padding-left: 32px;
    padding-right: 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#content-container-header {
    width: 100%;
    font-size: 32px;
    text-decoration: underline;
    padding-top: 32px;
}

#article-container {
    width: 62%;
    display: flex;
    flex-direction: column;
}

#aside-container {
    width: 35%;
    display: flex;
    flex-direction: column;
    background-color: beige;
}

aside {
    padding: 32px 32px 32px 32px;
    display: flex;
    flex-direction: column;
    row-gap: 48px;
}


#categories, #contact, #follow, #news-letter {
    display: flex;
    flex-direction: column;
    row-gap: 36px;
}

.category-container {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

#icon-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}