.more-info-button, #aside-button, .search-input, .featured-article-img { 
  border-radius: 16px;
}

.more-info-share-button, .more-info-button, #aside-button {
  font-size: 1rem;
}

.aside-category-button, .more-info-share-button {
  border: none;
  background: none;
}

header, footer, .search-input {
  text-align: center;
}

#content-container, .featured-article-more-info-container, .more-info-social-icons-container {
  justify-content: space-between;
}

li a:hover, #content-container-header, .more-info-share-button, .aside-header-text, .aside-category-button {
  text-decoration: underline;
}

#aside-button, .more-info-share-button, .more-info-share-button, .more-info-button {
  padding: 8px 24px 8px 24px;
}

nav, ul, #top-blogs-section, #icon-container, .featured-article-more-info-container, .more-info-social-icons-container {
  display: flex;
  flex-direction: row;
}

#categories, #contact, #follow, #news-letter, #aside-container, aside, .category-container, #article-container, #content-container,
.featured-article, .top-blogs-text-container, #top-blogs-first-blog, #top-blogs-second-blog, #top-blogs-third-blog {
  display: flex;
  flex-direction: column;
}

#icon-container, nav {
  justify-content:
  space-evenly;
}

#article-container {
  width: 100%;
}

.featured-article-img {
  width: 100%;
  height: 225px;
}

.more-info-social-icons-container {
  align-items: center;
  width: 60%;
}

/* header */
header {
  padding-top: 32px;
}

nav {
  align-items: center;
  padding-top: 32px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  column-gap: 32px;
}

li a {
  display: block;
  color: black;
  text-decoration: none;
  font-size: 1.25rem;
  padding-top: 8px;
}

li a:hover {
  cursor: zoom-in;
}

.search-input {
  border: none;
  color: #000000;
  background-color: rgb(137, 255, 122);
  height: 36px;
  font-size: 1.125rem;
  outline: none;
}

#search-icon {
  width: 22px;
  position: absolute;
  margin-top: 7px;
  margin-left: 7px;
}

.category-container {
  row-gap: 16px;
}

/* top blogs */
#top-blogs-first-blog {
  background-image: url(../images/blogs/blog_1.png);
}

#top-blogs-second-blog {
  background-image: url(../images/blogs/blog_2.png);
}

#top-blogs-third-blog {
  background-image: url(../images/blogs/blog_3.png);
}

#top-blogs-first-blog, #top-blogs-second-blog, #top-blogs-third-blog {
  width: 33.33%;
  height: 100%; 
  background-size: cover;
  background-position: center;
  justify-content: end;
}

.top-blogs-text-container {
  padding: 36px; 
  color: white;
  height: 50%;
  background: rgba(34, 34, 34, 0.514) 50%;
}

.top-blogs-title-text {
  font-size: 1.5rem;
}

#top-blogs-section {
  height: 400px;
  padding-left: 16px;
  padding-right: 16px;
}

/* featured articles */
.featured-article {
  padding: 16px;
}

.featured-article-title-text {
  font-size: 1.75rem;
  padding-top: 24px; 
}

.article-divider {
  width: 90%;
  margin: auto;
}

/* buttons */
.more-info-button {
  background-color: sandybrown;
  border: none;
}

#aside-button {
  background-color: sandybrown;
  border: none;
  width: 100%;
}

.aside-category-button {
  font-size: 1.5rem;
}

footer {
  background: linear-gradient(90deg, #ffeab1, #ffdb77);
  padding-bottom: 24px;
}

/* aside */
#aside-container {
  width: 100%;
  background-color: beige;
}

.aside-text {
  font-size: 1.125rem;
  text-decoration: none;
  color: black;
  padding-bottom: 16px;
}

.blogs-text {
  font-size: 1.125rem;
  padding-top: 24px;
}

aside, #top-blogs-section {
  padding-bottom: 32px;
  padding-top: 32px;
}

.aside-header-text, #content-container-header {
  font-size: 2rem;
  letter-spacing: 2px;
}

.featured-article-more-info-container, #content-container-header {
  padding-top: 32px;
}

#categories, #contact, #follow, #news-letter {
  row-gap: 29px;
}

aside { 
  row-gap: 32px;
  padding: 16px;
}

section, header, footer {
  padding-left: 32px;
  padding-right: 32px;
}

#content-container {
  padding-left: 16px;
  padding-right: 16px;
}

/* desktop devices */
@media (min-width: 1024px) {
  #content-container {
    flex-direction: row;
    padding-left: 32px;
    padding-right: 32px;
  }

  #article-container {
    width: 62%;
  }
  
  #aside-container {
    width: 35%;
  }

  aside { 
    row-gap: 58px;
    padding: 32px;
  }

  .featured-article {
    padding-bottom: 48px;
    padding-top: 48px;
  }

  .featured-article-img {
    width: 100%;
    height: 350px;
  }

  .more-info-social-icons-container {
    width: 35%;
  }

  #top-blogs-section {
    padding-left: 0px;
    padding-right: 0px;
  }
}