/* flex items */
.card-text-container, #quote-section, #qualities-section, header, #hero-text-container,
.content-card, #gallery-section, #video-container, #staff-section, .text-container, .footer-section-container, footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#cards-container, #video-section, ul, #gallery-grid, #footer-icons-container, nav, #partners-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* padding */
#video-section, #partners-section, #qualities-section, #staff-section, #gallery-section, footer, header, #quote-section {
  padding: 16px 16px;
}

/* justify content */
#video-section, #staff-section, #qualities-section, #partners-section, footer, nav {
  justify-content: space-between;
}

/* background color */
#qualities-section, #staff-section,  #quote-section {
  background-color: white;
}

footer, #video-section {
  background-color: rgb(112, 69, 79);
}

#partners-section, #gallery-section {
  background-color: rgb(116, 163, 228);
}

/* divider */
#header-divider {
  color: white;
  margin: 32px 0px;
}

/* text styles */
.hero-header-text {
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.5;
}

.hero-text {
  font-size: 1rem;
  line-height: 1.5;
  color: #e3f0fa;
}

.partners-text {
  font-size: 1rem;
  line-height: 1.5;
  color: #e3f0fa;
}

.gallery-text {
  font-size: 1rem;
  line-height: 1.5;
  color: #e3f0fa;
}

.video-text {
  font-size: 1rem;
  line-height: 1.5;
  color: #e3f0fa;
}

.quote-text {
  font-size: 1rem;
  line-height: 1.5;
  color: #42474a;
}

.section-header-text {
  font-size: 1.675rem;
  font-weight: 700;
  line-height: 1.5;
}

.card-header-text {
  color: whitesmoke;
  font-size: 1.125rem;
  font-weight: 600;
}

.footer-text {
  font-size: 0.875rem;
  color: #e1e1e1;
}

.card-text {
  font-size: 0.875rem;
}

.larger-text {
  font-size: 1rem;
  line-height: 1.5;
  color: rgb(231, 231, 231);
}

/* footer */
footer {
  gap: 24px;
}

.footer-section-container {
  row-gap: 8px;
  width: 100%;
  align-items: start;
  justify-content: space-between;
  color: aliceblue;
}

#footer-icons-container {
  column-gap: 16px;
  padding-top: 8px;
}

#footer-contacts-container {
  display: grid;
  grid-template-columns: 75px 200px;
  grid-template-rows: auto auto auto;
  row-gap: 12px;
  justify-content: center;
  align-content: center;
}

.text-container {
  width: 100%;
  row-gap: 24px;
  color: azure;
  justify-content: center;
}

/* partners section */
#partners-grid {
  display: grid;
  width: 100%;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px;
  gap: 24px;
  justify-content: center;
  align-content: center;
}

.partners-image {
  width: 100%;
  height: 100%;
}

/* video section */
#video-container {
  width: 100%;
  height: 350px;
}

#partners-section {
  row-gap: 16px;
}

#video-section {
  gap: 32px;
}

#video-button {
  background-color: rgb(149, 183, 255);
  color: white;
  width: 100%;
  padding: 12px 32px 12px 32px;
  font-size: 1rem;
  border-radius: 8px;
}

#video-image {
  height: 100%;
  width: 100%;
  border-radius: 8px;
}

/* gallery section */
#gallery-grid {
  gap: 12px;
  align-items: center;
  justify-content: center;
}

.gallery-img {
  height: 215px;
  width: 215px;
  border-radius: 8px;
}

.content-card {
  width: 48%;
  row-gap: 16px;
  border: 1px solid rgb(109, 109, 109);
  border-radius: 8px;
  background-color: rgb(207, 172, 255);
  padding: 16px;
  box-shadow: 5px 5px 12px #ccafff, -5px 5px 12px #ccafff;
  color: rgb(0, 0, 0);
}

.qualities-img {
  width: 50px;
  height: 80px;
  transform: translateY(10px)
}

.card-text-container {
  row-gap: 16px;
}

#cards-container {
  gap: 18px;
}

.staff-img {
  position: absolute; 
  top: 100px; 
  left: 100px;
  width: 75px;
  height: 50px;
}

.staff-image-container {
  height: 150px;
  width: 150px; 
  position: relative;
}

header {
  background: linear-gradient(rgba(0, 0, 0, 0.25)), url(../images/computers/gallery_2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  row-gap: 96px;
}

#hero-text-container {
  gap: 48px;
  color: azure;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li a {
  display: block;
  color: rgb(255, 255, 255);
  padding-right: 0px;
  padding-left: 16px;
  font-size: 1rem;
  text-decoration: none;
}

nav {
  align-items: center;
  letter-spacing: 2px;
}

/* row gap + text align */
#qualities-section {
  text-align: center;
  gap: 16px;
}

#quote-section {
  text-align: center;
}

#qualities-section, #gallery-section, #staff-section {
  gap: 24px;
  text-align: center;
}

#gallery-section {
  color: azure;
}

.qualities-image-container {
  height: 100px; 
  width: 100px; 
  background-color: #e3f0fa;
}

.qualities-image-container, .staff-image-container {
  border-radius: 50%;
  display: inline-block;
  align-self: center;
}

/* desktop devices */
@media (min-width: 1024px) {
  #video-section, #partners-section, #qualities-section, #staff-section, #gallery-section, footer, header, #quote-section {
    padding: 64px 128px;
  }

  .hero-header-text {
    font-size: 2.25rem;
  }

  .section-header-text {
    font-size: 2rem;
  }

  .card-header-text {
    font-size: 1.5rem;
  }

  .card-text {
    font-size: 1rem;
  }

  .larger-text {
    font-size: 1.125rem;
  }

  footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .footer-section-container {
    width: 30%;
  }

  #partners-section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .text-container {
    width: 48%;
  }

  #partners-grid {
    width: 48%;
  }

  #video-button {
    width: 50%;
  }

  #video-container {
    width: 48%;
    height: 350px;
  }

  .gallery-img {
    height: 215px;
    width: 215px;
  }

  .content-card {
    width: 25%;
  }

  .content-card {
    width: 40%;
  }

  .staff-img {
    top: 150px; 
    left: 125px;
    width: 75px;
    height: 50px;
  }

  .staff-image-container {
    height: 200px;
    width: 200px; 
  }

  li a {
    padding-left: 32px;
  }
}