ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li a {
  display: block;
  color: rgb(255, 255, 255);
  padding-right: 0px;
  padding-left: 32px;
  font-size: 16px;
  text-decoration: none;
}

nav {
  align-items: center;
  letter-spacing: 2px;
  padding-bottom: 16px;
}

#header-carousel {
  width: 80%;
  margin: auto;
  column-gap: 64px;
  padding-top: 64px;
}

#carousel-img-container {
  width: 48%; 
  justify-content: center;
}

#carousel-img {
  width: 100%; 
}

.qualities-card-container {
  width: 25%;
  margin: auto;
}

#gallery-img-container {
  column-gap: 24px;
  padding-top: 32px;
}

.gallery-img {
  height: 215px;
  width: 215px;
  border-radius: 8px;
}

#staff-cards-container {
  padding-top: 32px;
}

#video-img-container {
  width: 52%;
  height: 350px;
}

#video-img {
  height: 100%;
  width: 100%;
  border-radius: 8px; 
}

#video-button {
  background-color: rgb(149, 183, 255);
  color: white;
  width: 200px;
  padding: 12px 32px 12px 32px;
  font-size: 16px;
  border-radius: 8px;
}

#partners-section {
  color: white;
  column-gap: 24px;
}

#partners-section, #quote-section, #gallery-section {
  background-color: rgb(64, 75, 158);
}

#partners-first-column {
  width: 46%;
}

#partners-second-column {
  display: grid;
  width: 52%;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px;
  row-gap: 24px;
  column-gap: 24px;
  justify-content: center;
  align-content: center;
}

.partners-grid-img {
  width: 100%;
  height: 100%;
}

footer {
  column-gap: 24px;
}

.footer-section-container {
  row-gap: 24px;
  width: 30%;
}

#footer-contacts-container {
  display: grid;
  grid-template-columns: 75px 200px;
  grid-template-rows: auto auto auto;
  row-gap: 16px;
  column-gap: 8px;
  justify-content: center;
  align-content: center;
}

#footer-icons-container {
  column-width: 30%; column-gap: 8px;
}

.qualities-img {
  width: 50px;
  height: 80px;
  transform: translateY(10px)
}

.staff-img {
  position: absolute; 
  top: 150px; 
  left: 125px;
  width: 75px;
  height: 50px;
}

.qualities-card-text-container {
  row-gap: 16px;
}

#carousel-text-container {
  width: 48%;
}

#video-text-container {
  width: 44%;
}

/* flex items */
.qualities-card-text-container, #carousel-text-container, #video-text-container, #quote-section, #carousel-img-container, #qualities-section,
.qualities-card-container, #gallery-section, #video-img-container, #staff-section, #partners-first-column, .footer-section-container {
  display: flex; flex-direction: column;
}

#staff-cards-container, #video-section, ul, #header-carousel, #gallery-img-container, #partners-section, #footer-icons-container, footer, nav {
    display: flex; flex-direction: row;
}

/* padding */
#video-section, #partners-section, #qualities-section, #staff-section, #gallery-section, footer, header, #quote-section {
  padding: 64px 128px;
}

/* justify content */
#video-section, #staff-section, #qualities-section, #staff-cards-container, #partners-section, footer, #partners-first-column, #video-text-container, nav {
  justify-content: space-between;
}

/* background color */
header, #staff-section, #qualities-section {
  background-color: #3db862;
}

footer, #video-section {
  background-color: #383838;
}

/* row gap + text align */
#quote-section, #gallery-section, #qualities-section {
  row-gap: 16px;
  text-align: center;
}

.qualities-card-img-container {
  height: 100px; 
  width: 100px; 
  background-color: #d9ecfc;
}

.staff-card-img-container {
  height: 200px;
  width: 200px; 
  position: relative;
}

.qualities-card-img-container, .staff-card-img-container {
  border-radius: 50%;
  display: inline-block;
  align-self: center;
}

/* text styles */
.hero-header-text {
  font-size: 36px;
  font-weight: 800;
  line-height: 1.5;
  color: white;
}

.section-header-text {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.5;
  color: white;
}

.card-header-text {
  color: white;
  font-size: 24px;
  font-weight: 600;
}

.footer-text {
  font-size: 14px;
  color: #e7dada;
}

.card-text {
  font-size: 16px;
  padding-top: 18px;
}

.larger-text {
  font-size: 18px;
  line-height: 1.5;
  color: white;
}

/* divider */
#header-divider {
  color: white;
}