* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
  max-width: 1200px;
  margin: auto;
  line-height: 1.6;
}

/* text color */
#index-header, #index-footer, #page-links {
  color: rgb(62, 52, 52);
}

.footer-summary, .header-text {
  color: rgb(32, 31, 31)
}

/* header */
#index-header {
  background-color: rgb(208, 233, 255);
}

#index-header, #project-info, #page-links, #index-footer {
  padding: 32px;
}

/* nav + links */
.index-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 0px;
  align-items: center;
  justify-content: center;
  font-size: 1.875rem;
  list-style-type: none
}

.index-nav a {
  text-decoration: none;
  color: rgb(73, 73, 73);
}

.index-nav a:hover {
  text-decoration: underline wavy yellowgreen;
  color: rgb(0, 0, 0);
}

/* project info section */
#project-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: rgb(170, 251, 251);
  font-size: 1.125rem;
}

.header-text {
  font-size: 2rem;
  font-weight: 600;
}

#sources-list {
  padding: 8px 0px 0px 16px;
  list-style-type: square;
}

#sources-list a {
  text-decoration: none;
  color: rgb(73, 73, 73);
}

#sources-list a:hover {
  text-decoration: underline dashed 2px orange;
  color: rgb(0, 0, 0);
}

/* pages links section */
#page-links {
  background-color: rgb(143, 255, 218);
}

#pages-preview {
  padding-top: 8px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 16px;
  justify-content: center;
  align-items: center;
}

#pages-preview a {
  text-decoration: none;
  font-size: 1.25rem;
  color: rgb(0, 0, 0);
  font-weight: 500;
  letter-spacing: 2px;
}

#travel-image, #plants-image, #blogs-image, #computers-image {
  width: 100%;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  align-content: end;
}

#travel-image {
  background-image: url(../images/travel/blog1.png);
  transition: 0.25s ease-in;
}

#travel-overlay, #plants-overlay, #blogs-overlay, #computers-overlay {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  opacity: 1;
  background-color: rgba(173, 255, 126, 0.7);
  height: 25%;
  border-radius: 0 0 16px 16px;
}

#travel-image:hover p, #plants-image:hover p, #blogs-image:hover p, #computers-image:hover p {
  color: rgb(214, 33, 160);
  letter-spacing: 3px;
}

#travel-image:hover {
  transform: scale(1.05);
}

#travel-overlay {
  transition: 0.25s ease-in;
}

#plants-image {
  filter: grayscale(0%);
  transition: filter 0.3s ease-out;
  background-image: url(../images/plants/arrivals.png);
}

#plants-image:hover {
  filter: grayscale(100%);
}

#plants-overlay {
  transition: 0.3s ease-out;
}

#blogs-image {
  transition: filter 0.35s linear;
  background-image: url(../images/blogs/blog_1.png);
}

#blogs-image:hover {
  filter: blur(3px);
}

#blogs-overlay {
  transition: 0.35s linear;
}

#computers-image {
  background-image: url(../images/computers/gallery_2.jpg);
}

#computers-image:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

#computers-overlay {
  transition: 0.2s ease-in-out;
}

/* footer */
#index-footer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: rgb(255, 255, 216);
  text-align: center;
}

.footer-summary {
  font-size: 1.625rem;
  color: black;
  list-style: none;
  cursor: pointer;
}

.footer-summary::-webkit-details-marker {
  display: none;
}

.footer-summary::after {
  background: url(../icons/blogs/search.svg) no-repeat center;
  background-size: contain;
  width: 15px;
  height: 15px;
  content: "";
  display: inline-block;
  padding-left: 16px;
}

.footer-details[open] .footer-summary::after {
  background: url(../icons/blogs/message.svg) no-repeat center;
}

.footer-links {
  padding: 16px 0px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 1.25rem;
}

.footer-links a {
  text-decoration: none;
  color: rgb(73, 73, 73);
}

.footer-links a:hover {
  text-decoration: underline double 2px violet;
  color: black;
}

.footer-divider {
  margin: auto;
  color: orange;
  width: 300px;
}

/* tablet devices */
@media (min-width: 768px) {
  .header-text {
    font-size: 2.125rem;
  }

  #project-info {
    gap: 24px;
    font-size: 1.25rem;
  }

  #travel-image, #plants-image, #blogs-image, #computers-image {
    width: 48%;
    height: 350px;
  }

  #index-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 144px;
  }

  .footer-summary {
    pointer-events: none;
    cursor: default;
  }

  .footer-details[open] .footer-summary::after {
    display: none;
  }

  .footer-divider {
    display: none;
  }
}

/* desktop devices */
@media (min-width: 1024px) {
  #travel-image, #plants-image, #blogs-image, #computers-image {
    width: 32%;
    height: 250px;
  }
}