header {
    background-image: url(../images/plants/header.png);
    background-position: center;
}

header, #tips-section, #shop-section, #quote-section, #bedroom-section, #arrivals-section, footer {
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 32px;
    padding-top: 32px;
}

header, #tips-section, #shop-section, #quote-section, #bedroom-section, #arrivals-section, #care-section {
    height: 700px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
}

li a {
    display: block;
    color: #49b81a;
    padding-right: 0px;
    padding-left: 32px;
    font-size: 16px;
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 2px;
}

#header-text-container-1 {
    align-items: start;
    display: flex;
    flex-direction: column;
    padding-top: 64px;
    color: #49b81a;
}

#header-text-container-2 {
    display: flex;
    flex-direction: column;
    padding-top: 64px;
    color: #d45b23;
}

#tips-section {
    background-image:url(../images/plants/quote.png);
}

#shop-section {
    background-color: rgb(235, 255, 255);
}

#quote-section {
    background-image:url(../images/plants/tips.png);
}

#care-section {
    padding-bottom: 32px;
    background: linear-gradient(180deg, rgb(196, 226, 255) 70%, rgb(235, 249, 255) 30%);
    padding-left: 100px;
    padding-right: 32px;
}

#bedroom-section {
    padding-left: 100px;
    padding-right: 0px;
    padding-top: 0px;
    background-color: rgb(181, 255, 166);
}

#arrivals-section {
    background: linear-gradient(180deg, rgb(216, 216, 216) 50%, rgb(233, 229, 229) 50%);
    padding: 84px 136px;
    display: flex;
    justify-content: center;
}

#layer-container {
    position: relative;
    width: 100%;
}

#plant-info {
    position: relative;
    top: -116%;                      
    left: 10%;
    background: white;
    transform: translateY(1px);
    width: 250px;
    height: 500px;
    padding: 36px 28px 16px 28px;
    border-radius: 0px 0px 16px 16px;
}

footer {
    background-color: black;
}

#shop-button {
    color: white; 
    background-color: rgb(1, 199, 1); 
    padding: 8px 12px 8px 12px;
    border: 0px;
}

#shop-button, #shop-button:hover {
    border-radius: 16px;
}

#shop-button:hover {
    color: rgb(255, 255, 255); 
    background-color: rgb(17, 146, 17); 
    text-decoration: underline;
}