header {
  background-image: url(../images/plants/header.png);
  background-position: center;
}

header, #tips-section, #shop-section, #quote-section, #bedroom-section, #arrivals-section, footer {
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 32px;
  padding-top: 32px;
}

header, #tips-section, #shop-section, #quote-section, #bedroom-section, #arrivals-section, #care-section {
  height: 700px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
}

li a {
  display: block;
  color: #49b81a;
  padding-right: 0px;
  padding-left: 32px;
  font-size: 16px;
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 2px;
}

#shop-button {
  color: white; 
  background-color: rgb(1, 199, 1); 
  padding: 8px 12px 8px 12px;
  border: 0px;
}

#shop-button, #shop-button:hover {
  border-radius: 16px;
}

#shop-button:hover {
  color: rgb(255, 255, 255); 
  background-color: rgb(17, 146, 17); 
  text-decoration: underline;
}

#header-text-container {
  align-items: start;
  display: flex;
  flex-direction: column;
  padding-top: 64px;
  color: #49b81a;
  width: 40%;
  row-gap: 14px;
}

#header-small-text {
  font-size: 24px;
}

#header-big-text {
  font-size: 78px; width: 30%; font-weight: 700;
}

#header-medium-text {
  letter-spacing: 2px; font-size: 42px;
}

#header-divider {
  width: 30%; color: #d45b23; margin-top: 8px; margin-bottom: 8px;
}

#header-icons-container {
  display: flex; column-gap: 14px; flex-direction: row; padding-top: 8px;
}

#tips-section {
  background-image:url(../images/plants/quote.png);
  padding-top: 20%; display: flex; flex-direction: column; align-items: start;
  text-align: right;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#tips-text-container {
  width: 40%;
}

#tips-small-text {
  color: #adadad; font-size: 22px; padding-top: 18px; 
}

#tips-big-text {
  color: white; font-size: 48px; 
}

#tips-medium-text {
  color: white; font-size: 26px; padding-top: 32px; 
}

#quote-section {
  background-image:url(../images/plants/tips.png);
  padding-top: 20%; display: flex; flex-direction: column; align-items: end;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#quote-text-container {
  width: 50%; display: flex; flex-direction: column;
}

#quote-text {
  color: rgb(207, 207, 207); font-size: 64px; text-align: left;
}

#arrivals-section {
  background: linear-gradient(180deg, rgb(216, 216, 216) 50%, rgb(233, 229, 229) 50%);
  padding: 84px 136px;
  display: flex;
  justify-content: center;
}

#layer-container {
  position: relative;
  width: 100%;
}

#arrivals-img {
  width: 100%; height: 100%; background-image: url(../images/plants/arrivals.png); border-radius: 16px;
}

#arrivals-info {
  position: relative;
  top: -116%;                      
  left: 10%;
  background: white;
  transform: translateY(1px);
  width: 250px;
  height: 500px;
  padding: 36px 28px 16px 28px;
  border-radius: 0px 0px 16px 16px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  justify-content: space-between;
}

#arrivals-title-text {
  font-size: 38px; font-weight: 700;
}

#arrivals-big-text {
  font-size: 36px; 
}

.arrivals-small-text {
  font-size: 18px; 
}

.arrivals-medium-text {
  font-size: 24px; 
}

#arrivals-habits-info, #arrivals-additional-info {
  display: flex; flex-direction: column; gap: 16px;
}

.arrivals-row-container {
  display: flex; flex-direction: row; column-gap: 10px
}

#shop-section {
  background-color: rgb(235, 255, 255);
  padding-top: 64px; display: flex; flex-direction: column;
  padding-bottom: 64px;
}

#shop-header-small-text {
  font-size: 42px;
}

#shop-header-large-text {
  font-size: 80px; color: green;
}

#shop-subheader-container {
  display: flex; flex-direction: row; padding-top: 32px; justify-content: space-between; font-size: 20px;
}

#shop-items-container {
  padding-top: 32px; display: flex; flex-direction: row; justify-content: space-between;
}

.shop-item {
  width: 27%; height: 320px; border: 1px solid rgb(187, 54, 54); border-radius: 16px; background-color: #a6ffe9; box-shadow: 11px 15px #70ffdb;
  display: flex; flex-direction: column;
}

.shop-item-inner {
  padding: 12px;
}

.shop-item-img {
  width: 100%; border-radius: 16px; height: 250px;
}

.shop-item-text-container {
  padding-top: 12px; display: flex; flex-direction: row; justify-content: space-between;
}

.shop-item-text {
  font-size: 18px;
}

#bedroom-section {
  padding-left: 100px;
  padding-right: 0px;
  padding-top: 0px;
  background-color: rgb(181, 255, 166);
  display: flex; flex-direction: row;
}

#bedroom-text-container {
  display: flex; flex-direction: column; width: 40%; height: 100%;
}

#bedroom-img-container {
  display: flex; flex-direction: row; width: 60%; height: 100%;
}

#bedroom-big-text {
  font-size: 72px; padding-top: 50%;
}

#bedroom-small-text {
  font-size: 24px; padding-top: 24px;
}

#bedroom-first-image-container {
  width: 35%; padding-top: 5%; z-index: 2;
}

#bedroom-second-image-container {
  width: 30%; padding-top: 30%; margin-left: -130px; z-index: 1;
}

#bedroom-third-image-container {
  width: 50%; padding-top: 75%; margin-left: 90px; z-index: 3;
}

#bedroom-first-img, #bedroom-third-img {
  width: 80%; border-radius: 16px;
}

#bedroom-second-img {
  width: 200%; height: 90%; border-radius: 16px;
}

footer {
  background-color: black;
}

#footer-divider {
  width: 30%; border: 1px dashed white; margin: auto;
}

#footer-text-container {
  display: flex; flex-direction: row; justify-content: space-evenly; padding-top: 24px; text-align: center;
}

.footer-column-container {
  display: flex; flex-direction: column;
}

.footer-text {
  text-decoration: none; font-size: 24px; color: wheat;
}

#care-section {
  padding-bottom: 32px;
  background: linear-gradient(180deg, rgb(196, 226, 255) 70%, rgb(235, 249, 255) 30%);
  padding-left: 100px;
  padding-right: 32px;
}

#care-header-container {
  height: 72%; display: flex; flex-direction: row;
}

#care-header-text-container {
  display: flex; flex-direction: row; align-items:end;
}

#care-header-text {
  font-size: 78px; letter-spacing: 2px; 
}

#care-header-img-container {
  margin-left: auto; display: block; 
}

#care-img {
  height: 500px;
}

#care-info-container {
  display: flex; flex-direction: row; justify-content: space-between;
}

#care-plant-care {
  font-size: 48px; width: 35%;
}

.care-detailed-info-container {
  display: flex; flex-direction: column; width: 20%; align-items: center; text-align: center; padding-top: 36px;
}

.care-detailed-info-header {
  font-size: 18px; padding-top: 4px;
}

.care-detailed-info-text {
  padding-top: 12px; font-size: 16px;
}