.care-detailed-info-container, #header-text-container, #tips-section, .footer-column-container, #bedroom-text-container, footer, #care-container
.shop-item, #shop-section, #arrivals-habits-info, #arrivals-additional-info, #arrivals-info, #quote-text-container, #quote-section {
  display: flex; flex-direction: column; flex-wrap: wrap;
}

#care-info-container, #header-icons-container, #footer-text-container, nav, ul, #care-section, #care-header-img-container,
#bedroom-section, #bedroom-img-container, .shop-item-text-container, #shop-subheader-container, #shop-items-container, .arrivals-row-container {
  display: flex; flex-direction: row; flex-wrap: wrap;
}

header { background-image: url(../images/plants/header.png); }

#tips-section, header, #quote-section {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

header, #tips-section, #shop-section, #quote-section, #bedroom-section, #arrivals-section, footer, #care-section { padding: 32px 16px; }

header, #tips-section, #shop-section, #quote-section, #bedroom-section, #arrivals-section, #care-section { height: 700px; }

/* header */
#header-text-container {
  align-items: start;
  padding-top: 24px;
  color: #49b81a;
  width: 70%;
  row-gap: 36px;
}

#header-small-text { font-size: 1.125rem; }

#header-big-text {
  font-size: 4rem;
  font-weight: 700;
}

#header-medium-text {
  letter-spacing: 2px;
  font-size: 2rem;
}

#header-divider {
  width: 30%;
  color: #d45b23;
  margin-top: 8px;
  margin-bottom: 8px;
}

#header-icons-container {
  column-gap: 14px;
  padding-top: 8px;
}

/* nav */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li a {
  display: block;
  color: #49b81a;
  padding-right: 0px;
  padding-left: 16px;
  font-size: 1rem;
  text-decoration: none;
}

nav {
  justify-content: space-between;
  align-items: center;
  letter-spacing: 2px;
}

/* tips section */
#tips-section {
  background-image:url(../images/plants/quote.png);
  align-items: start;
  justify-content: center;
}

#tips-text-container { width: 100%; text-align: right;}

#tips-small-text {
  color: #adadad;
  font-size: 1.375rem;
  padding-top: 18px; 
}

#tips-big-text {
  color: white;
  font-size: 3rem; 
}

#tips-medium-text {
  color: white;
  font-size: 1.625rem;
  padding-top: 32px; 
}

/* quote section */
#quote-section {
  background-image:url(../images/plants/tips.png);
  justify-content: center;
}

#quote-text-container { width: 100%; }

#quote-text {
  color: rgb(207, 207, 207);
  font-size: 4rem;
  text-align: left;
}

/* arrivals section */
#arrivals-section {
  background: linear-gradient(180deg, rgb(172, 198, 250) 50%, rgb(147, 160, 230) 50%);
  display: flex;
  justify-content: center;
}

#layer-container {
  position: relative;
  width: 100%;
}

#arrivals-img {
  width: 100%;
  height: 100%;
  background-image: url(../images/plants/arrivals.png);
  border-radius: 16px;
}

#arrivals-info {
  position: relative;
  top: -119%;                      
  left: 10%;
  background: white;
  transform: translateY(90px);
  width: 250px;
  height: 500px;
  padding: 36px 28px 16px 28px;
  border-radius: 0px 0px 16px 16px;
  row-gap: 16px;
  justify-content: space-between;
}

#arrivals-title-text {
  font-size: 2.375rem; 
  font-weight: 700;
}

#arrivals-big-text { font-size: 2.25rem; }

.arrivals-small-text { font-size: 1.125rem; }

.arrivals-medium-text { font-size: 1.5rem; }

#arrivals-habits-info, #arrivals-additional-info { gap: 16px; }

.arrivals-row-container { column-gap: 10px; }

/* shop section */
#shop-button {
  color: white; 
  background-color: rgb(1, 199, 1); 
  padding: 8px 12px;
  border: 0px;
}

#shop-button, #shop-button:hover { border-radius: 16px; }

#shop-button:hover {
  color: rgb(255, 255, 255); 
  background-color: rgb(17, 146, 17); 
  text-decoration: underline;
}

#shop-section { background-color: rgb(235, 255, 255); }

#shop-header-small-text { font-size: 2.25rem; }

#shop-header-large-text {
  font-size: 4rem; 
  color: green;
}

#shop-subheader-container {
  justify-content: space-between;
  font-size: 1.125rem;
}

#shop-items-container {
  justify-content: space-around;
  row-gap: 16px;
  column-gap: 16px;
  padding-top: 16px;
}

.shop-item {
  width: 40%;
  height: 220px;
  border: 1px solid rgb(187, 54, 54);
  border-radius: 16px;
  background-color: #a6ffe9;
  box-shadow: 11px 15px #70ffdb;
}

.shop-item-inner { padding: 12px; }

.shop-item-img {
  width: 100%;
  border-radius: 16px;
  height: 165px;
}

.shop-item-text-container {
  padding-top: 12px;
  justify-content: space-between;
}

.shop-item-text { font-size: 1.125rem; }

/* care section */
#care-section {
  background: linear-gradient(180deg, rgb(196, 226, 255) 70%, rgb(235, 249, 255) 30%);
}

#care-header-text {
  font-size: 3rem;
  letter-spacing: 2px;
  width: 100%;
  text-align: center;
  font-weight: 500;
}

#care-container { width: 100%; }

#care-header-img-container { justify-content: center; }

#care-img {
  height: 400px;
  width: 80%;
}

#care-info-container { justify-content: space-between;}

#care-plant-care {
  font-size: 4.875rem;
  width: 35%;
  text-align: center;
}

.care-detailed-info-container {
  width: 30%;
  align-items: center;
  text-align: center;
}

.care-detailed-info-header {
  font-size: 1.125rem;
  padding-top: 4px;
}

.care-detailed-info-text {
  padding-top: 12px;
  font-size: 1rem;
}

/* bedroom section */
#bedroom-section {
  background-color: rgb(181, 255, 166);
  row-gap: 24px;
}

#bedroom-text-container { width: 100%; }

#bedroom-img-container {
  width: 100%;
  justify-content: end;
}

#bedroom-big-text { font-size: 4.5rem; }

#bedroom-small-text {
  font-size: 1.5rem;
  padding-top: 24px;
}

#bedroom-first-image-container {
  width: 35%;
  padding-top: 5%;
  z-index: 2;
  display: none;
}

#bedroom-second-image-container {
  width: 30%;
  padding-top: 30%;
  margin-left: -130px;
  z-index: 1;
  display: none;
}

#bedroom-third-image-container {
  width: 100%;
  z-index: 3;
}

#bedroom-third-img { height: 100%; }

#bedroom-first-img, #bedroom-third-img {
  width: 100%;
  border-radius: 16px;
}

#bedroom-second-img {
  width: 200%;
  height: 90%;
  border-radius: 16px;
}

/* footer */
footer {
  background-color: black;
  row-gap: 24px;
}

#footer-divider {
  width: 50%;
  border: 1px dashed white;
  margin: auto;
}

#footer-text-container {
  justify-content: space-evenly;
  text-align: center;
}

.footer-text {
  text-decoration: none;
  font-size: 1.25rem;
  color: wheat;
}

/* desktop devices */
@media (min-width: 1024px) {
  header, #tips-section, #shop-section, #quote-section, #bedroom-section, #arrivals-section, footer { padding: 32px 100px; }

  #header-text-container {
    padding-top: 64px;
    width: 40%;
    row-gap: 16px;
  }

  #header-small-text { font-size: 1.5rem; }

  #header-big-text { font-size: 4.875rem; }

  #header-medium-text { font-size: 2.625rem; }

  li a { padding-left: 36px; }

  #tips-text-container { width: 40%; }

  #quote-text-container { width: 50%; }

  #arrivals-section { padding: 84px 136px; }

  #arrivals-info {
    top: -116%;
    transform: translateY(1px);
  }

  .shop-item {
    width: 27%;
    box-shadow: 11px 15px #70ffdb;
  }

  #shop-section {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  #shop-items-container { padding-top: 32px; }

  #shop-header-small-text { font-size: 2,625rem; }

  #shop-header-large-text { font-size: 5rem; }

  #shop-subheader-container {
    padding-top: 32px;
    font-size: 1.25rem;
  }

  .shop-item {
    width: 31%;
    height: 320px;
  }

  .shop-item-img {
    width: 100%;
    height: 250px;
  }

  .care-detailed-info-container { width: 30%; }

  .footer-text { font-size: 1.5rem; }

  #bedroom-first-image-container { display: block; }

  #bedroom-second-image-container { display: block; }

  #bedroom-section { align-items: center; }

  #bedroom-text-container { width: 39%; }

  #bedroom-img-container { width: 59%; }

  #bedroom-third-image-container {
    width: 50%;
    padding-top: 75%;
  }
  
  #bedroom-first-img, #bedroom-third-img { width: 80%; }

  #care-section {
    padding-bottom: 32px;
    padding-left: 100px;
    padding-top: 0px;
    padding-right: 0px;
  }

  #care-header-text {
    padding-top: 35%;
    font-size: 4.875rem;
    width: 40%;
    text-align: left;
  }

  #care-info-container { padding-right: 32px; }
  
  #care-container { width: 58%; }

  #care-img { height: 500px;}
  
  #care-header-img-container { justify-content: end; }

  .care-detailed-info-container { width: 33%; }
}