* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    width: 1200px;
    margin: auto;
}

header {
    background-image: url(../images/plants/headerBG.png);
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 32px;
    padding-top: 32px;
    height: 700px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
}

li a {
    display: block;
    color: #49b81a;
    padding-right: 0px;
    padding-left: 32px;
    font-size: 16px;
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 2px;
}

#header-text-container-1 {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 64px;
    color: #49b81a;
}

#header-text-container-2 {
    display: flex;
    flex-direction: column;
    padding-top: 64px;
    color: #d45b23;
}

#tips-section {
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 32px;
    padding-top: 32px;
    background-image:url(../images/plants/tipsBG.png);
    height: 700px;
}

#shop-section {
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 32px;
    padding-top: 32px;
    height: 700px;
    background-color: aqua;
}

#quote-section {
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 32px;
    padding-top: 32px;
    height: 700px;
    background-image:url(../images/plants/quoteBG.png);
}

#care-section {
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 32px;
    padding-top: 32px;
    height: 700px;
    background-color: rgb(194, 194, 194);
}

#bedroom-section {
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 32px;
    padding-top: 32px;
    height: 700px;
    background-color: rgb(235, 255, 181);
}

#arrivals-section {
    background: linear-gradient(180deg, rgb(216, 216, 216) 50%, rgb(233, 229, 229) 50%);
    padding: 84px 136px;
    display: flex;
    justify-content: center;
    height: 700px;
}

#layer-container {
    position: relative;
    width: 100%;
}

#plant-info {
    position: relative;
    top: -116%;                      
    left: 10%;
    background: white;
    transform: translateY(1px);
    width: 250px;
    height: 500px;
    padding: 36px 28px 16px 28px;
}

footer {
    background-color: black;
    height: 300px;
}