/* body */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  max-width: 1200px;
  margin: auto;
}

.icon {
  width: 25px;
  height: 25px;
}

.big-icon {
  width: 50px;
  height: 50px;
}

.logo {
  width: 200px;
  height: 45px;
}

.care-detailed-info, #header-text-container, #tips-section, .footer-left-container, .footer-right-container, #bedroom-text-container, 
#care-container, .shop-item, #shop-section, #arrivals-habits, #arrivals-more-info, #arrivals-info, #quote-container, #quote-section,
#shop-items-container, .shop-item-text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#plant-care-info, #header-icons, #plants-nav, ul, #care-section, #care-image-container, #plants-footer,
#bedroom-section, #bedroom-images, #shop-button-container, .arrivals-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#plants-header {
  background-image: url(../images/plants/header.png);
}

#tips-section, #plants-header, #quote-section {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#plants-header, #tips-section, #shop-section, #quote-section, #bedroom-section, #arrivals-section, #plants-footer, #care-section {
  padding: 32px 16px;
}

#plants-header, #tips-section, #shop-section, #quote-section, #bedroom-section, #arrivals-section, #care-section {
  height: 700px;
}

/* header */
#header-text-container {
  align-items: start;
  padding-top: 64px;
  color: #39771e;
  row-gap: 24px;
}

#header-small-text {
  font-size: 1.125rem;
}

#hero-header-text {
  font-size: 3.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

#header-medium-text {
  letter-spacing: 2px;
  font-size: 2rem;
}

#header-divider {
  width: 30%;
  color: #d45b23;
  margin-top: 8px;
  margin-bottom: 8px;
}

#header-icons {
  column-gap: 14px;
  padding-top: 8px;
}

/* nav */
#plants-nav {
  justify-content: space-between;
  justify-content: center;
  letter-spacing: 4px;
  text-transform: capitalize;
  gap: 16px;
}

#plants-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 16px;
  align-content: center;
  width: 100%;
}

#plants-nav ul li a {
  display: block;
  color: #40d700;
  font-size: 1.25rem;
  text-decoration: none;
}

#plants-nav ul li a:hover {
  color: #43a718;
  text-decoration: underline 1px brown;
}

/* tips section */
#tips-section {
  background-image:url(../images/plants/quote.png);
  align-items: start;
  justify-content: center;
}

#tips-container {
  width: 100%;
  text-align: right;
}

#tips-small-text {
  color: #7dff6a;
  font-size: 1.375rem;
  padding-top: 18px; 
}

#tips-header-text {
  color: azure;
  font-size: 3rem; 
}

#tips-medium-text {
  color: #7dff6a;
  font-size: 1.625rem;
  padding-top: 32px; 
}

/* quote section */
#quote-section {
  background-image: url(../images/plants/tips.png);
  justify-content: center;
}

#quote-container {
  width: 100%;
}

#quote-header {
  color: rgb(238, 238, 238);
  font-size: 3.75rem;
  text-align: left;
}

/* arrivals section */
#arrivals-section {
  background: linear-gradient(180deg, rgb(172, 198, 250) 50%, rgb(147, 160, 230) 50%);
  display: flex;
  justify-content: center;
}

#layer-container {
  position: relative;
  width: 100%;
}

#arrivals-image {
  width: 100%;
  height: 100%;
  background-image: url(../images/plants/arrivals.png);
  border-radius: 16px;
}

#arrivals-info {
  position: relative;
  top: -119%;                      
  left: 10%;
  background: white;
  transform: translateY(90px);
  width: 250px;
  height: 500px;
  padding: 36px 28px 16px 28px;
  border-radius: 0px 0px 16px 16px;
  row-gap: 16px;
  justify-content: space-between;
}

#arrivals-header-text {
  font-size: 2.375rem; 
  font-weight: 700;
  color: black;
  text-transform: uppercase;
}

#arrivals-big-text {
  font-size: 2.25rem;
  color: black;
}

.arrivals-small-text {
  font-size: 1.125rem;
  color: rgb(84, 79, 79);
}

.arrivals-medium-text {
  font-size: 1.5rem;
  color: rgb(84, 79, 79);
}

#arrivals-habits, #arrivals-more-info {
  gap: 16px;
}

.arrivals-row {
  column-gap: 10px;
}

/* shop section */
#shop-button {
  color: white; 
  background-color: rgb(1, 199, 1); 
  padding: 8px 12px;
  border: 0px;
  cursor: pointer;
}

#shop-button, #shop-button:hover {
  border-radius: 16px;
}

#shop-button:hover {
  color: rgb(255, 255, 255); 
  background-color: rgb(17, 146, 17); 
  text-decoration: underline;
}

#shop-section {
  background-color: rgb(235, 255, 255);
}

#shop-medium-text {
  font-size: 2.25rem;
}

#shop-header-text {
  font-size: 3rem; 
  color: green;
}

#shop-button-container {
  justify-content: space-between;
  font-size: 1.25rem;
  align-items: center;
  gap: 16px;
}

#shop-button-container a, #shop-button-container a button {
  width: 100%;
}

#shop-items-container {
  column-gap: 16px;
  row-gap: 16px;
  padding-top: 16px;
  align-content: center;
}

.shop-item {
  width: 80%;
  height: 130px;
  border: 1px solid rgb(187, 54, 54);
  border-radius: 16px;
  background-color: #a6ffe9;
  box-shadow: 11px 15px #70ffdb;
  text-decoration: none;
  color: rgb(30, 28, 28);
}

.shop-item-inner {
  padding: 24px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.shop-item-image {
  width: 90px;
  border-radius: 16px;
  height: 100%;
}

.shop-item-text {
  justify-content: space-between;
  width: 50%;
  font-size: 1.375rem;
}

/* care section */
#care-section {
  background: linear-gradient(180deg, rgb(196, 226, 255) 70%, rgb(235, 249, 255) 30%);
}

#care-header-text {
  font-size: 3rem;
  letter-spacing: 2px;
  width: 100%;
  text-align: center;
  font-weight: 500;
  line-height: 0.9;
}

#care-container {
  width: 100%;
}

#care-image-container {
  justify-content: center;
}

#care-image {
  height: 340px;
  width: 100%;
}

#plant-care-info {
  justify-content: space-between;
}

#care-plant-care {
  font-size: 4.875rem;
  width: 35%;
  text-align: center;
}

.care-detailed-info {
  width: 32%;
  align-items: center;
  text-align: center;
  gap: 12px;
}

.detailed-info-header {
  text-transform: uppercase;
  font-size: 1.125rem;
}

.detailed-info-text {
  font-size: 1rem;
}

/* bedroom section */
#bedroom-section {
  background-color: rgb(181, 255, 166);
  row-gap: 24px;
}

#bedroom-text-container {
  width: 100%;
}

#bedroom-images {
  width: 100%;
  justify-content: end;
}

#bedroom-header-text {
  font-size: 4.5rem;
}

#bedroom-text {
  font-size: 1.5rem;
  padding-top: 24px;
}

#first-image-container {
  width: 35%;
  padding-top: 5%;
  z-index: 2;
  display: none;
}

#second-image-container {
  width: 30%;
  padding-top: 30%;
  margin-left: -130px;
  z-index: 1;
  display: none;
}

#third-image-container {
  width: 100%;
  z-index: 3;
}

#bedroom-third-image {
  height: 100%;
}

#bedroom-first-image, #bedroom-third-image {
  width: 100%;
  border-radius: 16px;
}

#bedroom-second-image {
  width: 200%;
  height: 90%;
  border-radius: 16px;
}

/* footer */
#plants-footer {
  background-color: black;
  justify-content: space-between;
}

.footer-left-container {
  text-align: left;
  width: 49%;
}

.footer-right-container {
  text-align: right;
  width: 49%;
}

.footer-text {
  text-decoration: none;
  font-size: 1.25rem;
  color: rgb(181, 255, 166);
}

.footer-text:hover {
  text-decoration: underline;
  color: rgb(153, 255, 132);
}

/* tablet devices */
@media (min-width: 768px) {
  #plants-nav {
    flex-wrap: nowrap;
  }

  #plants-nav ul {
    justify-content: right;
    gap: 32px;
  }

  #header-text-container {
    padding-top: 48px;
    width: 50%;
    row-gap: 24px;
  }

  #header-small-text {
    font-size: 1.5rem;
  }

  #hero-header-text {
    font-size: 4.875rem;
  }

  #header-medium-text {
    font-size: 2.625rem;
  }

  #tips-container {
    width: 60%;
  }

  #tips-small-text {
    font-size: 1.75rem;
  }

  #tips-header-text {
    font-size: 3.25rem; 
  }

  #tips-medium-text {
    font-size: 2rem;
  }

  #quote-container {
    width: 70%;
  }

  #quote-header {
    font-size: 5rem;
  }

  #care-section {
    padding: 0px 16px 32px 16px;
  }

  #care-header-text {
    padding-top: 42%;
    font-size: 4.875rem;
    width: 40%;
    text-align: left;
    line-height: 1;
  }
  
  #care-container {
    width: 58%;
  }

  #care-image {
    height: 500px;
  }
  
  #care-image-container {
    justify-content: end;
  }

  .care-detailed-info {
    width: 33%;
  }

  #shop-button-container a, #shop-button-container a button {
    width: auto;
  }

  #shop-items-container {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 32px;
  }

  .shop-item-inner {
    flex-direction: column;
  }

  .shop-item-image {
    width: 100%;
    height: 250px;
  }

  .shop-item {
    box-shadow: 11px 15px #70ffdb;
    width: 31%;
    height: 350px;
  }

  #shop-medium-text {
    font-size: 2.625rem;
  }

  #shop-header-text {
    font-size: 5rem;
  }

  #shop-button-container {
    padding-top: 32px;
    font-size: 1.375rem;
  }

  .shop-item-text {
    flex-direction: row;
    width: 100%;
  }

  #third-image-container {
    height: 425px;
  }
}

/* desktop devices */
@media (min-width: 1024px) {
  #plants-header, #tips-section, #shop-section, #quote-section, #bedroom-section, #arrivals-section,  #arrivals-section, #plants-footer {
    padding: 32px 100px;
  }

  #arrivals-info {
    top: -116%;
    transform: translateY(1px);
  }

  #shop-section {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .care-detailed-info {
    width: 30%;
  }

  .footer-text {
    font-size: 1.5rem;
  }

  #first-image-container {
    display: block;
  }

  #second-image-container {
    display: block;
  }

  #bedroom-section {
    align-items: center;
  }

  #bedroom-text-container {
    width: 39%;
  }

  #bedroom-images {
    width: 59%;
  }

  #third-image-container {
    width: 50%;
    padding-top: 75%;
    height: auto;
  }
  
  #bedroom-first-image, #bedroom-third-image {
    width: 80%;
  }

  #care-section {
    padding: 0px 16px 32px 100px;
  }

  #care-header-text {
    padding-top: 36%;
    line-height: 1.1;
    font-size: 5rem;
  }

  #care-image {
    width: 80%;
  }
}