* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  max-width: 1200px;
  margin: auto;
}

.icon {
  width: 25px;
  height: 25px;
}

.big-icon {
  width: 50px;
  height: 50px;
}

.large-icon {
  width: 75px;
  height: 75px;
}

.logo {
  width: 200px;
  height: 45px;
}

.social-media-icon {
  width: 36px;
  height: 36px;
}

/* desktop devices */
@media (min-width: 1024px) {
  .social-media-icon {
    width: 25px;
    height: 25px;
  }
}