/* body */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  max-width: 1200px;
  margin: auto;
}

.icon {
  width: 25px;
  height: 25px;
}

.logo {
  width: 200px;
  height: 45px;
}

.social-media-icon {
  width: 36px;
  height: 36px;
  margin: 0px 18px;
}

#blog-section, #content-second-container, #sales-section, .footer-text-container,
#shop-first-container, #info-section-text-container, #travel-header, #content-text-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#hero-section, #blogs-container, #content-section, #shop-section, #info-section, #travel-nav, #travel-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#travel-header, #travel-footer, #blog-section, #content-section, #shop-section, #sales-section, #info-section {
  padding: 32px 16px;
}

#travel-nav, #blogs-container, #content-section, #shop-section, #info-section {
  justify-content: space-between;
}

#blog-section, #shop-first-container, #shop-section {
  align-items: center;
}

#travel-nav, #input-container input, .hero-text, #header-button, #content-sideways-text {
  letter-spacing: 2px;
}

.blog-container, .content-image, #shop-first-container, #shop-second-container, .body-button {
  border-radius: 16px;
}

#header-button, .body-button {
  text-transform: uppercase;
  cursor: pointer;
}

#hero-section {
  padding: 0;
  width: 100%;
  row-gap: 36px;
  justify-content: center;
}

#hero-section a {
  align-content: center;
}

/* footer */
#travel-footer {
  background: linear-gradient(180deg, rgb(255, 209, 228), rgb(255, 153, 216));
  row-gap: 32px;
  justify-content: center;
}

.footer-text-container {
  gap: 8px;
  text-align: center;
}

.footer-divider {
  width: 90%;
  color: #d739ff;
  margin: auto;
}

.footer-text {
  font-size: 1rem;
  color: rgb(49, 49, 49);
  text-decoration: none;
}

.footer-text:hover {
  text-decoration: underline;
  color: black;
}

/* sales section */
#sales-link {
  width: 100%;
  height: 100%;
  text-decoration: none;
}

#sales-image {
  width: 100%;
  height: auto;
  border-radius: 16px 16px 0px 0px;
}

#sales-background {
  background-color: black;
  margin-top: -5px;
  border-radius: 0px 0px 16px 16px;
}

#sales-text {
  font-size: 2rem;
  text-align: center;
  letter-spacing: 8px;
  color: white;
  padding: 24px;
  font-weight: 500;
}

/* info section */
#info-section {
  background-color: beige;
  text-align: left;
}

#info-section-text-container {
  width: 100%;
  row-gap: 24px;
  text-align: center;
}

#info-image {
  width: 48%;
  height: auto;
  display: none;
}

/* text */
.text {
  font-size: 1.125rem;
  color: #443f3f;
  text-align: justify;
}

.shop-text {
  font-size: 1.125rem;
  color: #443f3f;
}

.hero-text {
  width: 100%;
  color: white;
}

.section-header-text {
  font-size: 1.85rem;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
}

/* inputs */
.body-button {
  background-color: black;
  color: white;
  font-size: 1rem;
  width: 100%;
  padding: 12px 32px 12px 32px;
}

.body-button-container {
  width: 100%;
}

/* shop section */
#shop-section {
  background: linear-gradient(90deg, rgb(255, 209, 228) 45%, rgb(255, 153, 216) 85%, rgb(251, 137, 207));
  gap: 24px;
}

#shop-first-container {
  width: 100%;
  padding: 24px; 
  background-color: beige;
  text-align: justify;
  row-gap: 16px;
}

#shop-second-container {
  background: linear-gradient(90deg, rgba(253, 97, 97, 0.1) 60%, rgba(253, 97, 97, 0.9));
  width: 100%;
  height: 100%;
  background-size: cover;
}

#shop-image {
 width: 100%;
 height: auto;
 border-radius: 16px;
}

/* content section */
#content-section {
  background-color: azure;
}

#content-sideways-text {
  font-size: 7rem;
  writing-mode: vertical-rl;
  color: white;
  margin-top: -55%;
}

.content-image {
  height: auto;
  width: 100%;
}

#content-first-container {
  width: 55%;
  display: none;
}

#content-second-container {
  width: 100%;
  height: 100%;
  gap: 24px;
}

#content-text-container {
  row-gap: 24px;
  justify-content: space-between;
  height: 100%;
  text-align: center;
}

#content-text {
  font-size: 1.125rem;
  line-height: 1.5;
  text-align: justify;
  color: #443f3f;
}

/* blog section */
#blog-section {
  text-align: center;
  row-gap: 32px;
  background-color: aliceblue;
}

#blogs-container {
  text-align: left;
  column-gap: 32px;
  row-gap: 32px;
  align-content: center;
  justify-content: center;
}

.blog-container {
  width: 100%;
  border: 1px solid #41fc70;
  background-color: beige;
  text-decoration: none;
  color: #222020;
  box-shadow: 8px 8px rgb(176, 255, 169);
}

.blog-image {
  width: 100%;
  height: 275px;
  border-radius: 16px 16px 0px 0px;
}

.blog-text {
  padding: 16px;
  font-size: 1.125rem;
  color: #443f3f;
}

/* nav */
#travel-nav {
  text-transform: uppercase;
  gap: 16px;
  justify-content: center;
}

#travel-nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  justify-content: space-around;
  gap: 16px;
  align-content: center;
  width: 100%;
}

#travel-nav li a {
  display: block;
  color: black;
  font-size: 1.125rem;
  text-decoration: none;
}

/* header section */
#travel-header {
  background: linear-gradient(rgb(255, 255, 255, 0.1)), url(../images/travel/header.png);
  row-gap: 48px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#input-container input {
  padding: 15px;
  border: none;
  outline: none;
  color: #514b48;
  width: 100%;
}

#header-button:hover {
  background-color: #ff3c00;
  color: white;
  letter-spacing: 4px;
}

#hero-header-text {
  width: 100%;
  font-size: 2.95rem;
  color: #514b48;
  letter-spacing: 24px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}

#input-container {
  width: 100%;
}

.input-divider {
  color: #8a8a8a;
}

#from-input {
  flex: 2;
}

#to-input {
  flex: 2.5;
}

#since-input, #until-input {
  flex: 1.25;
}

#header-button {
  width: 100%;
  height: 48px;
  border: none;
  background-color: #ff9226;
  color: #e6ffff;
  font-weight: 900;
  flex: 1.75;
}

/* tablet devices */
@media (min-width: 768px) {
  .blog-container {
    width: 45%;
    box-shadow: 16px 16px rgb(176, 255, 169);
  }

  #travel-header {
    row-gap: 96px;
  }

  #hero-section {
    row-gap: 64px;
  }

  .blog-image {
    height: auto;
  }

  #hero-header-text {
    font-size: 4.5rem;
    letter-spacing: 32px;
  }

  #input-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

/* desktop devices */
@media (min-width: 1024px) {
  #travel-header, #content-section, #sales-section, #shop-section, #travel-footer, #blog-section {
    padding: 64px 100px;
  }

  #travel-nav {
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  #travel-nav ul {
    gap: 36px;
    justify-content: right;
  }

  #info-section {
    padding: 0;
  }

  .footer-text, .shop-text {
    font-size: 1.25rem;
  }

  #sales-text {
    font-size: 2.125rem;
    text-align: center;
    letter-spacing: 10px;
    color: white;
    padding: 36px;
    text-transform: uppercase;
  }

  #info-image {
    width: 48%;
    height: 100%;
    display: block;
  }

  #info-section-text-container {
    width: 48%;
    row-gap: 16px;
    padding-bottom: 64px;
    padding-top: 64px;
    padding-right: 64px;
    justify-content: center;
    text-align: left;
  }
  
  .hero-text {
    width: 50%;
    color: white;
    padding-left: 16px;
  }

  .text {
    font-size: 1.375rem;
    text-align: left;
  }

  .section-header-text {
    font-size: 2.375rem;
  }

  #shop-first-container {
    box-shadow: 24px -24px rgb(255, 196, 86), -24px 24px #fffd7a;
    width: 46%;
    text-align: right;
    align-items: end;
    row-gap: 24px;
  }

  #content-first-container {
    width: 55%;
    display: block;
  }

  #content-second-container {
    width: 41%;
  }

  .body-button {
    width: 200px;
  }

  #blog-section {
    row-gap: 32px;
  }

  #content-text-container { 
    padding: 16px 24px 0px 24px;
    row-gap: 32px;
    align-items: start;
    text-align: left;
  }

  #content-text {
    text-align: left;
  }

  #sales-image {
    height: 575px;
  }

  #shop-second-container {
    width: 46%;
  }

  .footer-text-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }
}