header, section, #content-section, #sales-section, #shop-section, footer {
    padding-left: 100px;
    padding-right: 100px;
}

section, #content-section, #sales-section, #shop-section {
    padding-bottom: 64px;
    padding-top: 64px;
}

#final-section {
    padding-bottom: 0px;
    padding-top: 0px;
    padding-left: 32px;
    padding-right: 32px;
    height: 650px;
    background-color: beige;
}

#final-section-2 {
    padding-bottom: 64px;
    padding-top: 32px;
    padding-left: 32px;
    padding-right: 32px;
    background-color: rgb(227, 220, 245);
    height: 400px;
}

header {
    background-image: url(../images/travel/header.png);
    padding-bottom: 64px;
    padding-top: 32px;
}

section {

    background-color: aliceblue;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
}

li a {
    display: block;
    color: black;
    padding-right: 0px;
    padding-left: 32px;
    font-size: 16px;
    text-decoration: none;
}

li a:hover{
    color: black;
    cursor: zoom-in;
    font-weight: 900;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 2px;
}

input[type="text"] {
    padding: 15px;
    height: 48px;
    border: none;
    outline: none;
    letter-spacing: 2px;
    color: #514b48;
}

input[type="date"] {
    padding: 15px;
    height: 48px;
    border: none;
    outline: none;
    letter-spacing: 2px;
    color: #514b48;
}

#header-button {
    height: 48px;
    border: none;
    letter-spacing: 2px;
    background-color: #ff9226;
    color: #e6ffff;
    font-weight: 900;
    cursor: pointer;
}

#header-button:hover {
    background-color: #ff3c00;
    color: white;
    letter-spacing: 4px;
}

#logo:hover {
    cursor: crosshair;
}

#header-text {
    text-align: center;
    font-size: 36px;
    color: #514b48;
    letter-spacing: 32px;
}

#input-container {
    display: flex;
    width: 100%;
    padding-top: 32px;
}

#content-section {
    background-color: rgb(255, 240, 249);
}

#sales-section {
    background-color: white;
}

#shop-section {
    background: linear-gradient(90deg, rgb(253, 220, 220) 40%, rgb(255, 171, 171) 65%, rgb(253, 97, 97));
}

#linear-image {
    background: linear-gradient(90deg, rgba(253, 97, 97, 0.1) 60%, rgba(253, 97, 97, 0.9)),
                url(../images/travel/shop.png);
    width: 46%;
    height: 100%;
    background-size: cover;
    border-radius: 16px;
}

footer {
    padding-bottom: 32px;
    padding-top: 64px;
    background: linear-gradient(180deg, rgb(234, 209, 255), rgb(207, 153, 255));
}

#footer-hr {
    width: 90%;
    color: #ff3c00;
    height: 2px;
    margin: auto;
}

button {
    border-radius: 16px;
}

.input-hr {
    color: #8a8a8a;
}